flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

.env
.env.remote
__pycache__/
node_modules/
build/

# Databases
*.db
*.db-shm
*.db-wal

# Log files
*.log

# Heavy Data & RAG Files
# motor_vehicles* (Uncommented to allow FAISS and metadata files on Render)
Procfile
